<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://103.74.255.66:3306/kbtg_train?characterEncoding=utf8
        </property>

        <property name = "hibernate.connection.username">
            kbtg
        </property>

        <property name = "hibernate.connection.password">
            password
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

<!--        <property name="hibernate.show_sql">-->
<!--            true-->
<!--        </property>-->

        <mapping class="tech.kbtg.entities.Employee"/>
        <mapping class="tech.kbtg.entities.Customer"/>
        <mapping class="tech.kbtg.entities.Address"/>
        <mapping class = "tech.kbtg.entities.ClassRoom"/>
        <mapping class = "tech.kbtg.entities.Student"/>

    </session-factory>
</hibernate-configuration>
